.tour-logo {
  text-align: center;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;

  // background-image: url('../src/images/jalopy-2025-color.jpg');
  background-image: url('../src/images/2025-jalopy-backyard-1.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  h1 {
    font-size: 3em;
  }

  h1.first,
  p {
    margin-bottom: 0;
  }
  h1.last,
  p {
    margin-top: 0;
  }
}

.show-happening-today .tour-logo {
  @include animateAltBgOnText();
}

.tour-page-content {
   padding: 2% 5%;
   background-color: rgba(0,0,0,0.7);
}

.more-info {
  margin-top: 25px;
  margin-bottom: 50px;
}

.tour-title {
  font-size: 2em;
  width: 100%;
  display: inline-block;
  overflow-wrap: break-word;
  word-break: break-word;
}
