$blue : #21a2dc;
$black : #000000;
$black1 : rgba(0,0,0,0.7);
$black2 : rgba(0,0,0,0.3);
$white : #ffffff;
$red : #c82c2f;
$red-transparent: rgba(200, 44, 47, .7);
$green : #5b9e28;
$green-transparent : rgba(91, 158, 40, .7); //#5b9e28;
$grey : #666666;
$yellow : #e4981e;

$bg1: $red;
$bg2: $black1;
$bg3: $black2;

$primary-font-color: #ffffff;
$primary-font-color-disabled: $grey;
$primary-font-color-alt: $yellow;
