@import './variables';
@import './mixins';

.cols-container {
  .col {
    width: 48%;
    padding: 0 1%;
    display: inline-block;
    vertical-align: top;

    @include breakpoint(mobileonly) {
      width: 100%;
      padding: 0;
      display: block;
    }
  }

  &.three-up .col {
    width: 31%;

    @include breakpoint(mobileonly) {
      width: 80%;
      margin: 0 auto 15px;
    }
  }

  &.margin-bottom-small .col {
    margin-bottom: $small;
  }
}
