@import './mixins';

@font-face {
  font-family: 'Phosphate';
  src: url('../src/fonts/Phosphate-Inline-01.ttf') format('truetype'),
}

$primary-font-family: 'Playball', cursive;

$primary-font-xl: 98px;
$primary-font-lg: 72px;
$primary-font-md: 40px;
$primary-font-sm: 36px;
$primary-font-xs: 20px;
$primary-font-mobile-xs: 14px;

$secondary-font-family: 'Oswald', sans-serif;

$secondary-font-xl: 98px;
$secondary-font-lg: 72px;
$secondary-font-md: 40px;
$secondary-font-sm: 36px;
$secondary-font-xs: 20px;
$secondary-font-mobile-xs: 14px;

.phosphate-font {
  font-family: 'Phosphate';
  font-weight: 400;
}
