@import './colors';
@import './fonts';
@import './animations';
@import './utils';
@import './base';
@import './icons';
@import './columns';
@import './emoji';
@import './modal';
@import './grid';

.content {
  background-color: $bg3;
}

.logo {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.logo-link {
  border-width: 1px;
  animation: animateAltBorder 1.5s linear;
  animation-iteration-count: infinite;
  width: 79%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  border-style: dashed;
}

input {
  padding: 25px 2%;
  width: 96%;
  background-color: $white;
  border: 0;
  @include border-radius(5px);
  font-family: $secondary-font-family;
}

@import './loader';
@import './section';
@import './dates';
@import './footer';

.section {
  &.contact {
    // .status-message {
    //   padding: 15px 2%;
    // }
    input.email {
      display: block;
    }
    .submit-email {
      display: block;
      margin: 15px auto;
    }
  }
}

$margin: 25px;
.social-container-sm {
  width: 246px;
  @include breakpoint('mobileonly') {
    width: 190px;
  }
}
.social-container-md {
  width: 330px;
  @include breakpoint('mobileonly') {
    width: 255px;
  }
}
.social-container-lg {
  width: 410px;
  @include breakpoint('mobileonly') {
    width: 340px;
  }
}

.social-container-sm,
.social-container-md,
.social-container-lg {
  margin: $margin auto 0;
  .icon {
    display: inline-block;
    margin: 0 8px;

    @include breakpoint('mobileonly') {
      margin: 0 6px;
    }
  }
}

.video-wrapper {
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.is-new-wrapper {
  position: relative;
}
.is-new {
  position: absolute;
  top: 0;
  left: -25px;
  z-index: 1;
  @include transform(rotate(-45deg) translate(0px, -20px));
  font-size: 30px;

  @include breakpoint('mobileonly') {
    @include transform(rotate(-45deg) translate(30px, -5px));
    @include border-radius(50%);
    background: rgba(1,1,1,.7);
    padding: 10px;
  }
}

.order-link {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

body.show-happening-today {
  animation: animateAltBg 3s ease-in-out;
  animation-iteration-count: infinite;

  .section.shows .section-link,
  .section.shows .section-link h2 {
    @include animateAltBgOnText();
    animation-iteration-count: infinite;
  }
}

.highlight,
.highlight:hover {
  @include animateAltBgOnText();
}

.strike {
  color: $primary-font-color-disabled;
  text-decoration: line-through;
}

@import './header';

// Components
@import './components/headline';
@import './components/links';
